<div class="you-might-also-like-wrapper">
    <div class="row collapse">
        <div class="hide-for-small medium-15 medium-offset-1 large-15 large-offset-1 columns">
            <div class="row">
                <div class="small-10 columns">
                    <p class="title">You Might Also Like:</p>
                </div>
            </div>

            <div class="you-might-also-like-link" onclick="document.location = '{{domainUrl}}/cms/ce/home-decor-ideas/bedroom-decor-decorating-ideas';">
                <img src="{{imageUrlAssets}}/Q6110004_ymal_01_decor.jpg" alt="Bedroom Decor and Decorating Ideas">
                
                <div class="ymalTextBox">
                    Bedroom Decor<br>&amp; Decorating Ideas
                </div>
            </div>
            
            <div class="you-might-also-like-link" onclick="document.location = '{{domainUrl}}/ce/how-to-buy-furniture-guide/bedroom-furniture-ideas';">
                <img style="margin-bottom: 14px;" src="{{imageUrlAssets}}/Q6110004_ymal_02_furniture.jpg" alt="Bedroom Furniture Ideas">
                
                <div class="ymalTextBox">
                    Bedroom Furniture Ideas
                </div>
            </div>
            
            <div class="you-might-also-like-link" onclick="document.location = '{{domainUrl}}/cms/ce/splash/bedding-buying-guide/index';">
                <img style="margin-bottom: 14px;" src="{{imageUrlAssets}}/Q6110004_ymal_03_buying_guide.jpg" alt="Bedding Buying Guide">
                
                <div class="ymalTextBox">
                    Bedding Buying Guide
                </div>
            </div>
        </div>

        <div class="small-16 hide-for-medium-up columns">
            <div class="row">
                <div class="small-10 small-centered columns">
                    <p class="title">You Might Also Like:</p>
                </div>
            </div>

            <div class="ymalSlider">
                <div class="you-might-also-like-link" onclick="document.location = '{{domainUrl}}/cms/ce/home-decor-ideas/bedroom-decor-decorating-ideas';">
                    <img src="{{imageUrlAssets}}/Q6110004_ymal_01_decor.jpg" alt="Bedroom Decor and Decorating Ideas">
                    
                    <div class="ymalTextBox">
                        Bedroom Decor<br>&amp; Decorating Ideas
                    </div>
                </div>
                
                <div class="you-might-also-like-link" onclick="document.location = '{{domainUrl}}/ce/how-to-buy-furniture-guide/bedroom-furniture-ideas';">
                    <img style="margin-bottom: 14px;" src="{{imageUrlAssets}}/Q6110004_ymal_02_furniture.jpg" alt="Bedroom Furniture Ideas">
                    
                    <div class="ymalTextBox">
                        Bedroom Furniture Ideas
                    </div>
                </div>
                
                <div class="you-might-also-like-link" onclick="document.location = '{{domainUrl}}/cms/ce/splash/bedding-buying-guide/index';">
                    <img style="margin-bottom: 14px;" src="{{imageUrlAssets}}/Q6110004_ymal_03_buying_guide.jpg" alt="Bedding Buying Guide">
                    
                    <div class="ymalTextBox">
                        Bedding Buying Guide
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
