    <nav id="mw-nav-container">
    <ul id="mw-nav-menu" class="nav nav-tabs nav-stacked menu" data-animating="false">
      <li id="top" class="headerRow fobTop">
        <a class='mw-nav-link'>
          Menu
        </a>
      </li>
      <li id="shop" class="fobShop firstlevel">
        <a class='mw-nav-link' href="{{getMewDomainURL}}/?aen=true" data-integration-link="absolutize">
          Shop
        </a>
      </li>
      <li id="offers" class="fobOffers firstlevel">
        <a class='mw-nav-link' href="{{getMewDomainURL}}/shop/coupons-deals" data-integration-link="absolutize">
          Deals
        </a>
      </li>
      <li id="myAccount" class="fobmyAccount firstlevel">
        <a class='mw-nav-link' href="{{getMewDomainURL}}/account/myaccount?cm_sp=navigation--top_nav--account" data-integration-link="absolutize">
          My Account
        </a>
      </li>
      <li id="myWallet" class="{{#highlightNavItem '/account/wallet'}}headerRow{{/highlightNavItem}} fobmyWallet firstlevel">
        <a class='mw-nav-link' href="{{getMewDomainURL}}/account/wallet" data-integration-link="absolutize">
          My Wallet
        </a>
      </li>
      <li id="myWishlist" class="fobmyWishlist firstlevel">
        <a class='mw-nav-link' href="{{getMewDomainURL}}/wishlist/mylist">
          My Lists
        </a>
      </li>
      <li id="mcom-stores" class="fobStores firstlevel">
        <a class='mw-nav-link' href="{{getMewDomainURL}}/shop/store/search">
          Stores
        </a>
      </li>

      <li id="registry" class=" fobRegistry firstlevel">
        <a class='mw-nav-link' href="{{getMewDomainURL}}/registry/wedding/registryhome">
          Registry
        </a>
      </li>

      <li id="mcom-customerService" class="fobCustomerService firstlevel">
        <a class='mw-nav-link' href="https://customerservice.macys.com/">
          Customer Service
        </a>
      </li>

      <li id="more" class="fobMore firstlevel">
      	<a class="mw-nav-link">
      		More
      	</a>
      </li>

      <ul id="more_children" class="no-show children_wrapper">
        <li id="catalog" class="fobMore children">
          <a class='mw-nav-link' href="https://macys.circularhub.com/mobile/macys/postal?locale=en-US&type=1&cm_sp=mew_navigation-_-more-_-catalog">
            Catalog
          </a>
        </li>
        <li id="legalPolicies" class="fobMore children">
          <a class='mw-nav-link' href="https://customerservice.macys.com/app/answers/list/c/15?cm_sp=mew_navigation-_-more-_-legal%20policies">
            Legal Policies
          </a>
        </li>
      </ul>

    </ul>
</nav>
